<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
  		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  			<title>Books: <%= controller.action_name %></title>
  			<%= stylesheet_link_tag 'scaffold', 'book' %>
	</head>
	
	<body>
		<h1>Our Favorite Books</h1>
		
		<div class="user-info">
			<%= @user.first_name %>&nbsp;&nbsp;      
			
		</div>
		

		<div class="navigation">
			<br/><br/><br/>
			<b>View:  </b><br/><br/>
			&nbsp;&nbsp;
			<%= link_to 'All Books', :action => 'index', :choice => " " %> <br/><br/>
			&nbsp;&nbsp;
			<%= link_to 'My Favorites', :action => 'index', :choice => "mine" %> <br/><br/>
			&nbsp;&nbsp;
			<%= link_to 'Others\' Favorites', :action => 'index', :choice => "others" %><br /><br />
			<hr/><br />
			<%= link_to 'Add a New Book', new_book_path %><br /><br />
			<hr/><br />
			<%= link_to 'Log Out', :controller => :users, :action => :logout %><br /><br /><br />
		</div>
		
		<div class="main">
			<div class="notice"><%= flash[:notice] %>
			</div>
			<%= yield  %>
		</div>
		
		

	</body>
</html>