<h2>Login</h2>

<%= error_messages_for :user %>

<div class="login">

	<% form_tag do %>

		<p>
			<b>User Name</b><br/>
			<%= text_field_tag :username, params[:username] %>
		</p>
		<p>
			<b>Password</b><br/>
			<%= password_field_tag :password, params[:password] %>
		</p>
	
		<p>
			<%= submit_tag "Log In", :controller => 'users', :action => 'login' %>   
		</p>
	<% end %><br/><br/>
	  
	<%= link_to '<strong>Need a New ID?</strong>', :controller => :users, :action => :new, :method => :post %><br/><br/>
</div>
